html {
	background: url("../images/pic.gif") no-repeat center center fixed;
	background-size: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

li {
	text-align: center;
	list-style : none;
}

a {
	font-size: 40px;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	color: #f00;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0a0;
}