/* ----------- Form styling in admin ----------------*/
.form  {
    margin-left:auto;
    margin-right:auto;
    background: #eeebec;
    /*padding: 30px 30px 20px 30px;*/
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
}

